# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
frontend/.env
backend/.env
backend/firebaseServiceAsccount.json
.env.local
.env.development
.env.production
.env.test

# Build files
frontend/build/
backend/dist/
backend/firebaseServiceAsccount.json
backend/firebaseServiceAccount.json:1

# Logs
logs/
*.log
