# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
frontend/.env
backend/.env
backend/firebaseServiceAsccount.json
.env.local
.env.development
.env.production
.env.test
node_modules

# Build files
frontend/build/ 
backend/dist/
backend/firebaseServiceAccount.json
backend/firebaseServiceAccount.json:1
node_modules/